*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:#2F2FA2;
    background-image: linear-gradient(
    315deg,
    #BC3B71 10%,
    #2F2FA2 70%
    );
}
.logo_{
    color:#F64C72;
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    font-size: 1.78rem;
    margin: 0.5rem;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
}
li{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1.5rem;
    font-family: "Bebas Neue";
}

li a:hover {
    background-color: #F64C72;
    height: 100%;
    width: 100%;
    transition: all ease-in-out 200ms;
}
body{
    text-align: center;

}
.inputs{
    justify-content: center;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
    padding: 5px 30px;
    overflow: hidden;
    font-size: 2.5rem;

}
input[type=text] {
    width: 350px;
    padding: 12px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #2F2FA2;
    border-radius: 4px;
    box-sizing: border-box;
}
::placeholder{
    font-size: 14px;
    font-family: "Bebas Neue";

}
