*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2F2FA2;
}
.logo_{
    color:#F64C72;
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    font-size: 1.8rem;
    margin: 0.5rem;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1.5rem;
    font-family: "Bebas Neue";
}

li a:hover {
    background-color: #F64C72;
    height: 100%;
    width: 100%;
    transition: all ease-in-out 200ms;
}
.gomb{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.gomb .bar{
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 1px;
}
